@(
  evalForm: Form[String], results: Option[util.Try[expressions.Term]]
)(implicit messages: Messages, webJarAssets: WebJarAssets)

@import util.{Success, Failure}

@main("Sigma Calculus Interpreter") {

  @helper.form(action = routes.Application.eval()) {
    <div class="form-group">
      <label for="code">Write some code:</label>
      <textarea id="code" name="code" class="form-control"
        style="font-family: Consolas, Lucida Console, monospace;"
        rows="20"
        >@evalForm("code").value</textarea>
    </div>
    <input type="submit" value="Eval  >>" class="btn btn-default"/>
  }

  @if(results.nonEmpty){
    <hr>
    <p style="font-weight: bold;">Evaluation result:</p>
    <pre><!--
   -->@for(result <- results) {<!--
     -->@result match {
          case Success(term) => {Success: @term.toString}
          case Failure(error) => {Failure: @error}
        }<!--
   --><!--}
 --></pre>
  }

}
