@(title: String)(content: Html)(implicit
  webJarAssets: WebJarAssets
)

<!DOCTYPE html>

<html>
  <head>
    <title>@title</title>
    <link rel="stylesheet" media="screen"
      href='@routes.Assets.at("stylesheets/main.css")'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href='@routes.WebJarAssets.at(webJarAssets.locate("css/bootstrap.min.css"))'
      rel="stylesheet" media="screen">
  </head>
  <body>
    <div class='container'>
        <h1 id="title">@title</h1>
        <p style="font-size:80%; text-align: right">
          see:
          M. Abadi, L. Cardelli. A theory of objects. – Springer Berlin, 1996.
        </p>
      @content
    </div>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script
      src='@routes.WebJarAssets.at(webJarAssets.locate("js/bootstrap.min.js"))' >
    </script>
  </body>
</html>
